@page
@model Frontend.Pages.Registros.prueba

@{
    ViewData["Title"] = "Pruebas";
}

<!DOCTYPE html>

<html>
<head>
    <title>Pagina de Pruebas</title>
</head>
<body>
<div>
    <form method="post">
        @*<input type="button" id="boton" name="boton" value="boton">*@
        <input type="submit" id="enviar" name="enviar" value="enviar"><br>
        <input type="submit" id="guardar" name="guardar" value="guardar">
        @*<button onclick="@{ Model.caso = 1;}">Botón</button>*@
    </form>
</div>
</body>
</html>