@page
@model Frontend.Pages.Registros.prueba

@{
    ViewData["Title"] = "Pruebas";
}

<!DOCTYPE html>

<html>
<head>
    <title>Pagina de Pruebas</title>
</head>
<body>
@*<div>
    <form method="post">
        $1$<input type="button" id="boton" name="boton" value="boton">#1#
        $1$<input type="submit" id="enviar" name="enviar" value="enviar"><br>
        <input type="submit" id="guardar" name="guardar" value="guardar">#1#
        $1$<button onclick="@{ Model.caso = 1;}">Botón</button>#1#
    </form>
</div>*@
<button type="submit" onclick="@{ Model.caso = 21;}"><span class="material-icons">info</span></button>

</body>
</html>